.pagination {
    position: relative;
    margin: 1px 0;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pagination__total-results {
    position: absolute;
    left: 0;
}

.pagination__page {
    margin: 0.3em;
    padding: 0.5em;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;

    &:hover {
        cursor: pointer;
        background-color: rgb(76, 157, 250);
        color: white;
    }
}

.pagination__page--info {
    background-color: white;

    &:hover {
        cursor: auto;
        background-color: white;
        color: black;
    }
}