.search-results__table-data__text-sort {
    margin: 0 0.2em;
    padding: 0 0.2em;
    display: inline-block;
    border: 2px solid rgb(255, 145, 0);
    border-radius: 15px;
    color: rgb(255, 145, 0);

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 145, 0);
        color: white;
     }
}

.search-results__table-data--toggler {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 15px;
}

.search-results__table-data__arrow {
    margin: 0 2px;
    width: 23px;
    border: 2px solid rgb(255, 145, 0);
    border-radius: 25px;
    color: rgb(255, 145, 0);
    font-weight: 800;

     &:hover {
        cursor: pointer;
        background-color: rgb(255, 145, 0);
        color: white;
     }
}