.nav {
    padding: 0.5em 10em;
    display: flex;
    align-items: center;
    background-color: black;
}

.nav__logo {
    padding: 0 1em;
}

.nav__logo-title {
    padding: 0.5em;
    border-radius: 15px;
    background-color: orange;
}

.nav__text {
    color: white;
}